.container {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.nav {
  float: left;
  width: 400px;
  background-color: #eee;
  border-right: 1px solid #ddd;
  display: flex;
  height: 890px;
}

.nav ul {
  list-style-type: none;
  margin-top: 65px;
}

.nav ul li {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

.nav ul li a{
  text-decoration-line: none;
}

.title{
  margin-top: 50px;
}

.title h3{
  color: #6209b7;
}

#date{
  font-size: xx-large;
}

.addTodo button{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 5px;
  border: none;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  font-size: 19px;
}

.addTodo input{
  height: 30px;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 10px;
}

.addTodo hr{
  color: darkgray;
  width : 50%;
}

.list button{
  height: 28px;
}

.list{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 10px 10px;
  margin-right: 750px;
}


.task {
  margin-right: 5px;
  margin-top: 2px;
}

.task label{
  margin-left: 10px;
}

.task input:checked + label {
  text-decoration: line-through;
}

.buttonZip{
  display: flex;
  align-items: stretch;
}

.deleteAll, .checkedAll, .deleteComplete {
  margin-left: 10px;
  margin-top: 20px;
  width: 130px;
  height: 50px;
}

