@import "~bootstrap/dist/css/bootstrap.css";

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-left: 25px;
  padding-top: 30px;
}

nav {
  float: left;
  width: 20%;
  background-color: #eee;
  border-right: 1px solid #ddd;
  display: flex;
  height: 890px;
}

nav ul {
  list-style-type: none;
  margin-top: 65px;
}

nav ul li {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

nav ul li a{
  text-decoration-line: none;
}

.title{
  margin-top: 50px;
}

.title h3{
  color: #007afd;
  font-weight: bold;
}

#date{
  font-size: xx-large;
}

.add{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.addTodo{
  display: flex;
  align-items: baseline;
}

.addTodo input{
  height: 40px;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 10px;
}
.addTodo button{
  margin-right: 10px;
  border-radius: 100%;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.addTodo hr{
  color: darkgray;
}

.list button{
  margin-right: 5px;
}

.list{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 10px 10px;
}

.task label{
  margin-left: 10px;
}

.task input:checked + label {
  text-decoration: line-through;
}

.buttonZip{
  display: flex;
  align-items: stretch;
  margin-bottom: 50px;
}

.taskDate{
  margin-right: 10px;
}

.deleteAll, .checkedAll, .deleteComplete {
  margin-left: 10px;
  margin-top: 20px;
  width: 130px;
  height: 50px;
}

#edit{
  display: none;
}

#edit #button-addon1{
  margin-left: 10px;
}
