.container {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.nav {
  float: left;
  width: 400px;
  background-color: #eee;
  border-right: 1px solid #ddd;
  display: flex;
  height: 890px;
}

.nav ul {
  list-style-type: none;
  margin-top: 65px;
}

.nav ul li {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

.nav ul li a{
  text-decoration-line: none;
}

.title{
  margin-top: 50px;
}

.title h3{
  color: #6209b7;
}


#date{
  font-size: xx-large;
}

.list{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 10px 10px;
  margin-right: 750px;
}


.done {
  margin-right: 5px;

}

.done label{
  margin-left: 10px;
}

.done input:checked + label {
  text-decoration: line-through;
}

.checkAll {
  margin-top: 20px;
  width: 100px;
  height: 40px;
}

